.banner__imagen{
    
    width: 100%;
}

@media screen and (min-width:0){
    .banner__image{
        height:calc(100vh - 900px);


    }
}
@media screen and (min-width:768px){
    .banner__image{
        height:calc(100vh - 600px);

    }
}
